{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}StudyFlow{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'assignments/css/style.css' %}">
</head>

<body>

    <header class="navbar">
        <div class="container navbar-content">

            <a href="{% url 'home' %}" class="logo">
                StudyFlow
            </a>

            <nav>
                <a href="{% url 'home' %}">Home</a>

                {% if user.is_authenticated %}

                    {% if user.is_staff %}
                        <a href="{% url 'teacher_dashboard' %}">Teacher Portal</a>
                        <a href="{% url 'teacher_students' %}">Students</a>
                    {% else %}
                        <a href="{% url 'dashboard' %}">Dashboard</a>
                        <a href="{% url 'assignment_list' %}">Assignments</a>
                        <a href="{% url 'explore' %}">Explore</a>
                    {% endif %}

                    <a href="{% url 'logout' %}">Logout</a>

                {% else %}

                    <a href="{% url 'explore' %}">Explore</a>
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'register' %}">Register</a>

                {% endif %}
            </nav>

        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>StudyFlow - Student Task Management System</p>
            <p>Built with Django</p>
        </div>
    </footer>

    <script src="{% static 'assignments/js/script.js' %}"></script>

</body>
</html>
